.navbar {
  background-color: rgb(229, 229, 229);
  height: 160px;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(146, 162, 119);
}


/* .andreSilva {
  font-size: 30px;
  color: rgb(128, 133, 150);
} */

span {
  font-size: 30px;
  color: rgb(128, 133, 150);
}

/* .frontEnd {
  font-size: 20px;
  color: rgba(163, 175, 169, 0.92);
  font-weight: 700;

} */

/* .navLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  /* width: 75%; */

/* }  */

/* .about,
.portfolio,
.contact,
.resume {
  text-decoration: none;
  color: rgb(128, 133, 150);
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
} */


.nav-item {

  color: rgb(128, 133, 150);
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}


.resume {
  color: rgb(66, 64, 64);
  border-radius: 10px;
  background-color: rgb(128, 133, 150);

}

.resume:hover {
  background: rgb(146, 162, 119);
  color: #fff;
  transition: all .2s;
}



/* .mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .andreSilva {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .navLinks {
    display: none;

  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgb(163, 163, 163);
    left: 0;
    top: 75px;
    transition: all 0.5s ease-in-out;
    width: 100%;

    z-index: 999;

  }

  .about,
  .portfolio,
  .contact,
  .resume {

    color: rgb(146, 162, 119);
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: #fff;
    background-color: rgb(146, 162, 119);
    border: none;
    outline: none;
    top: 15px;
    right: 25px;

    width: 3rem;

    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;


  }
}
 */















/* .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }

  .nav-menu {
    background-color: rgba(0, 0, 0, 0.031);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

  }

  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  .nev-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }

  .nev-text a {
    text-decoration: none;
    color: royalblue;
    font-size: 20px;
    height: 100%;
    display: flex;
    padding: 0 16px;
    border-radius: 4px;
    
  }

  .nev-text a:hover {
    background-color: royalblue;
  } 

  .nav-menu-items {
    width:  100%;
  }

  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }

  span {
    margin-left: 16px;
  }

   */