.navbar {
  background: linear-gradient(217deg, rgba(137, 132, 132, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(153, 188, 153, 0.113), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(107, 107, 137, 0.268), rgba(0, 0, 255, 0) 70.71%);
  height: 160px;
  position: sticky;
}

.navbar a {
  text-decoration: none;
  margin: 0;
}

.navbar a:hover {
  color: rgb(146, 162, 119);
}

.brand {
  font-size: 40px;
  color: rgb(128, 133, 150);
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif;
}


.nav-item {
  color: rgb(128, 133, 150);
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  z-index: 1;

}


.resume {
  color: rgb(66, 64, 64);
  border-radius: 10px;
  background-color: rgb(128, 133, 150);

}

.resume:hover {
  background: rgb(146, 162, 119);
  color: #fff;
  transition: all .2s;
}

@media screen and (max-width: 991px) {
  .navbar {
    height: 65px;
    background: rgb(146, 162, 119);
    margin: 0;


  }

  .navbar-collapse {
    background: rgb(146, 162, 119);
    z-index: 1;

    
  }

  .navbar a:hover {
    color: #fff;
  }

  .brand {
    font-size: 40px;
    color: #fff;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium',
      'Arial Narrow', Arial, sans-serif;
  }

  .navbar-toggler {
    margin-right: 8px;
    margin-bottom: 10px;
    
  }
}